:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #333333;
    --quaterary-color: #8c8c8c;
    --quinteary-color: #890000;
    --primary-font: 'Courier New', Courier, monospace;
    --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 62.5%;  
}
body {
    background-color: var(--primary-color);
}
header {
    background-color: var(--primary-color);
}
span {
    color: var(--secondary-color);
}
.centro {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;
    width: 100%;
    margin: .8rem;
}
.info {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: end;
}
a.inf {
    font-size: 1.5rem;
}
.info a {
    text-decoration: none;
    color: var(--secondary-color);
}
.icon {
    width: 32px;
}
span.titulo {
    font-size: 2.5rem;
    color: var(--secondary-color);
}
.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.fondo img {
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 60rem;
}
span.txt-1 {
    font-size: 3rem;
}
span.txt-2 {
    font-size: 2.6rem;
}
.txt-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    box-sizing: border-box;
    height: 60rem;
    position: absolute;
    top: 88px;
    width: 100%;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #000000);
}
a.rd img {
    width: 3.5rem;
}
ul.redes {
    list-style: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.cuerpo {
    display: flex;
    gap: 2rem;
    margin: 6rem;
}
span.txt-3 {
    font-size: 3.6rem;
    color: var(--tertiary-color);
}
span.txt-4 {
    font-size: 2.6rem;
}
.cuerpo img{
    width: 550px;
    object-fit: cover;
    position: relative;
}

.conteiner-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
}
.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 .8rem;
    box-sizing: border-box;
    display: flex;
}
.icon-t {
    max-height: 64px;
    max-width: 64px;
}
.proyectos {
    color: var(--secondary-color);
}
.complementos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1155px;
    margin: 0 auto;
}
img.complementos {
    width: 100%;
}
.addons {
    display: flex;
    border-radius: 0 .4rem .4rem 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: left;
    align-items: start;
}
.cuadro {
    /* border: 1px solid red; */
}
.c-img {
    width: 37rem;
}
.c-inf {
    /* border: 1px solid red; */
    background-color: var(--tertiary-color);
    text-align: center;
    font-size: 2rem;
}

/** 567px --> 767px */
@media ( min-width: 567px ) {
    .container {
        max-width: 540px;
        padding: 0 16px;
    }
}
/** 768px --> 1023px */
@media ( min-width: 768px ) {
    .container {
        max-width: 720px;
        padding: 0 24px;
    }
}
/** 1024px --> 1999px */
@media ( min-width: 1024px ) {
    .container {
        max-width: 992px;
        padding: 0 32px;
    }
}
/** 1200px --> 1399px */
@media ( min-width: 1200px ) {
    .container {
        max-width: 1140px;
        padding: 0 40px;
    }
}
/** 1400px --> 1599px */
@media ( min-width: 1400px ) {
    .container {
        max-width: 1320px;
        padding: 0 48px;
    }
}
/** 1600px --> 1919px */
@media ( min-width: 1600px ) {
    .container {
        max-width: 1440px;
        padding: 0 56px;
    }
}
/** 1920px --> 2159px */
@media ( min-width: 1920px ) {
    .container {
        max-width: 1600px;
        padding: 0 64px;
    }
}
/** 2160px --> 2459px */
@media ( min-width: 2160px ) {
    .container {
        max-width: 1760px;
        padding: 0 72px;
    }
}
/** 2160px --> more */
@media ( min-width: 2560px ) {
    .container {
        max-width: 1920px;
        padding: 0 80px;
    }
}